*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppons", sans-serif;
}

body{
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo{
    width: 100%; /* largura*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.circulo {
    background: #017143;
    height: 100%; /* Altura */
    width: 100%; /* Largura */
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;

}

.caixa-texto{
    width: 600px; 
}

h1{
    color: #333333;
    font-size: 40px;
    font-weight: 900;
}

p{
    font-size: 20px;
}

span{
    color: #017143;
    font-size: 60px;   /* tamanho da fonte*/ 
    font-weight: bold; /* grossura da fonte*/
}

button{
    background: #017143; /* background -> papel de parede*/
    color: #ffffff; /* cor do texto*/
    border-radius: 5px; /* arredondamento das bordas*/
    border: none; /* tirar aborda do elemento*/
    cursor: pointer; /* muda o ponteiro do mouse */
    padding: 10px;  /* espaço inteiro*/
    margin-top: 20px; /* Cria uma margem*/
    transition: 0.7s; /* transição de efeito*/
}
button:hover{
   background-color: #11d203;/* o butao mudará para vermelho*/
}
.caixa-imagem{
    width: 600px;  /* */
    display: flex;
    justify-content: flex-end; /* */
    margin-top: 250px;   /*fez ele descer  */
   
    
}
.starbucks{
    width: 340px;
}

.menu{
    display: flex;
    justify-content: center;

}
.botao-menu{
    width: 60px;
    cursor: pointer;
    transition: 0.5s;
    
}

.botao-menu:hover{
    transform: translateY(-30px);
}